# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
/build
.gradle

# other
eclipse
run/*
!run/kiwipacks
*.log

# Files from Forge MDK
forge*changelog.txt
/CHANGELOG.md
/lowcode/*.jar

kiwi-src/

context/
.compare/

/runs/*
/run/*
!/run/kiwipacks
/xkdeco/
